include ../includes/mixins

+head("The Pumpkin Queen", true)

body#top(data-spy='scroll',data-target='.subnav',data-offset='80')

	+navbar(true)

	// STORY COVER
	section#story-cover.story-cover
		div.story-cover-image(style="background-image: url('../photos/pumpkin_queen/pumpkin_8364.jpg');")
		div.story-cover-arrow
		div.story-cover-content
			h1 The Pumpkin Queen
			p.lead Circleville's Annual Pumpkin Show crowns Courtney Congrove Pumpkin Queen for 2005
			p.byline by ZACH WISE
			p.byline Photographs by ZACH WISE
	section.story-cover-caption
		div.caption
			| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
			| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
	article.lazyload
		section.container-fluid

			div.row
				div.col-md-3

				div.col-md-6
				
					p.lead Local sheriff’s deputies from Circleville and surrounding counties struggle to hold their ground against the crowd of high school students that are pushing, pressing, falling, and storming the main stage.

					p This is not a rock concert, or a political event protest. This is the annual Miss Pumpkin Show competition held at the Circleville Pumpkin show. 

					p The Pumpkin Show has been an annual event in Circleville since 1903. The event started as a way to show the talents of local growers by the Mayor of Circleville, George R. Haswell.  The event has grown in size over the years. What started out as a small town exhibit has now become the sixth largest festival in the United States that claims over 300,000 in annual  attendance. The first recorded Miss Pumpkin Show competition was held in 1933 and has been held every year since. 


				div.col-md-3

			div.row
				div.col-md-2
				div.col-md-8
					figure
						a.enlarge(href="../photos/pumpkin_queen/pumpkin_8314.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/pumpkin_queen/pumpkin_8314.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			div.row
				div.col-md-3

				div.col-md-6
				
					p This year’s winner was Courtney Congrove. Many fans from Courtney’s Zane Trace high school supported her by wearing green t-shirts that read, “Courtney, Our pick of the patch.”
					figure.figure-pull-right
						a.enlarge(href="../photos/pumpkin_queen/pumpkin_8170.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/pumpkin_queen/pumpkin_8170.jpg")
						figcaption.credit Zach Wise
					p When the judges announced Congrove as this year’s Pumpkin Queen, she said, “I just looked out to my family and just waved and said it’s all because of them.”
				
					p Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam.

				div.col-md-3
				

			div.row
				div.col-md-6
					figure
						a.enlarge(href="../photos/pumpkin_queen/pumpkin_8386.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/pumpkin_queen/pumpkin_8386.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				div.col-md-6

					figure
						a.enlarge(href="../photos/pumpkin_queen/pumpkin_8179.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/pumpkin_queen/pumpkin_8179.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

			div.row
				div.col-md-3

				div.col-md-6
				

					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat. 
				
					p Sed quis velit. Nulla facilisi. Nulla libero. Vivamus pharetra posuere sapien. Nam consectetuer. Sed aliquam, nunc eget euismod ullamcorper, lectus nunc ullamcorper orci, fermentum bibendum enim nibh eget ipsum. Donec porttitor ligula eu dolor. Maecenas vitae nulla consequat libero cursus venenatis. Nam magna enim, accumsan eu, blandit sed, blandit a, eros.
				
					figure
						a.enlarge(href="../photos/pumpkin_queen/pumpkin_8175.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/pumpkin_queen/pumpkin_8175.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Fans of Tia Jean Crist wore Burger King crowns adorned with sparkling letters that say "Tia 4 Queen."

					p Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam.
				
				div.col-md-3

	+footer(true)