
<section class="container-fluid">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<p class="lead">SACRAMENTO, Calif. -- When one of Jerry Spencer’s daughters gets sick, he makes sure she gets treatment as soon as possible. So of course he does the same thing for his cattle.
 


			</p>


			<p>Spencer manages cattle that roam about 10,000 acres of rolling golden pasture just outside of Sacramento. Depending on the time of year, he looks after as many as 2,500 healthy cattle on a swath of land owned by the same family since 1915. Rarely does he have to use antibiotics to treat his herd, thanks to the way they’re raised, he says. </p>






			<div class="col-md-3"></div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<figure><a href="../photos/cattleranchers/airshot130_croppedcopy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/airshot130_croppedcopy.jpg" class="img-responsive"></a>
            
					<figcaption>
						The Van Vleck Ranch spans more than 10,000 acres just outside of Sacramento, Calif. 
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<figure><a href="../photos/cattleranchers/Nadworny1370_v2 copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny1370_v2 copy.jpg" class="img-responsive"></a>
            
					<figcaption>
						Cattle roam at the University of California Chico farm and feedlot. 
					</figcaption>
				</figure>



			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>

			<div class="row">
				<div class="col-md-12">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<p>As more and more headlines warn of antibiotic resistance and the overuse of drugs in livestock, and legislation to restrict ranchers’ use of antibiotics is debated in Congress, California cattle ranchers are sure of one thing: they need to do a better job educating consumers about what they really do.</p></p>

						“I think our general membership are all very much aware that consumers are more interested in finding out where their food is from,” said Kristina Butts, executive director of legislative affairs at National Cattlemen’s Beef Association. </p>

						<figure class="figure-pull-right"><a href="../photos/cattleranchers/Nadworny1839copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny1839copy.jpg" class="img-responsive"></a>
							<figcaption>
								Jerry Spencer is the ranch manager at the Van Velck Ranch outside Sacramento, Calif. 
							</figcaption>
            
						</figure>
						<blockquote><p>We strongly agree that messages that have been out there have been overblown.</p></blockquote>

         
          
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<figure><a href="../photos/cattleranchers/Nadworny1638 copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny1638 copy.jpg" class="img-responsive"></a>
     
					<figcaption>
						Holly Foster's family has been ranching in Northern California for five generations. 
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<figure><a href="../photos/cattleranchers/Nadworny_cattleranchercopy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny_cattleranchercopy.jpg" class="img-responsive"></a>
        
					<figcaption>
						Dr. Jim Oltjen at UC Davis works with cattle ranchers to implement research and best practices.
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">


				<p>Butts said that members have been working to reach out to the public about how they use antibiotics. </p> 

				<p> 
					“Frankly, agriculture needs to do a much better job marketing,” says Dave Daley, a rancher and associate dean of the college of Agriculture at California State University, Chico.
				</p> 


				<blockquote><p>We don’t want antibiotic resistance either.</p></blockquote>

			</div>
			<div class="col-md-3"></div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<figure><a href="../photos/cattleranchers/Nadworny9374copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny9374copy.jpg" class="img-responsive"></a>

					<figcaption>
						Dave Daley,a rancher and associate dean of the college of Agriculture at California State University, Chico. 
					</figcaption>
				</figure>
			</div>
			<div class="col-md-6">
				<figure><a href="../photos/cattleranchers/Nadworny9888 copy copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny9888 copy copy.jpg" class="img-responsive"></a>

					<figcaption>
						Bud Turner and his wife, Lynn Van Vleck-Turner on their family ranch south of Sacramento, Calif. 
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<p>Jerry Spencer agrees. Though he has given his cattle an antibiotic in their feed - which many consumer groups would object to - he says that ranchers aren’t about to pay for and use antibiotics that are unnecessary.  Profit margins on cattle are already slim: the cost of raising a single calf through slaughter is about $1,400, though that total can range widely, said Duane Lenz, general manager at CattleFax, which tracks beef market prices.  </p><p>
					And ranchers say antibiotic injections can run $40 per shot.
				</p>



				<p>“Antibiotic use – you want to keep it to a minimum on the ranch level,” Spencer says. “Because it’s expensive. This is a business. We don’t have time to just go run around giving shots to everything.” </p> 

				<figure class="figure-pull-right">
					<a href="../photos/cattleranchers/Nadworny1273copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny1273copy.jpg" class="img-responsive"></a>

				</figure>
				<p>The report found that the “present system of producing food animals in the United States is not sustainable and presents an unacceptable level of risk to public health.”</p>
				<p>The key to avoiding costly antibiotics, the ranchers agree, is prevention: keeping the animals calm, fed a nutritious diet and raised in sanitary conditions. Vaccinations play a large role in preventing infection and disease, making up approximately 10 percent of Spencer’s costs.</p>  
				<p>Other groups draw a more complicated picture</p>

				<p>A 2008 report from the Pew Commission on Industrial Farm Animal Production looked at the use of antibiotics as a growth stimulant for livestock.</p>

				<p>The World Health Organization has also raised concerns about antibiotics used in livestock. And The Institute for Agricultural and Trade Policy, a Minnesota-based industry organization, offers links to more than 100 studies it claims illustrate the need to rein in overuse of antibiotics in livestock. </p>



				<p>Daley recognizes these concerns, but says that - at least in cattle ranching - the fears are misguided. “Somewhere there’s a perception of animals in a small space being pumped with antibiotics,” he says. </p>
				<figure><a href="../photos/cattleranchers/Nadworny1905copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny1905copy.jpg" class="img-responsive"></a>

					<figcaption>Lynn Van Vleck-Turner and her husband, Bud Turner, on their family ranch south of Sacramento, Calif. </figcaption>
				</figure>

				<p>He argues that a very small percentage of cattle are ever treated with an antibiotic and says he’s never used an antibiotic in his cattle’s feed or water.</p>
				<p>Some groups propose requiring a prescription from a veterinarian before ranchers can administer any antibiotics. But Daley says that wouldn’t cut down antibiotic use - it would just make administration of the drugs more cumbersome. </p> 


				<figure class="figure-pull-left"><a href="../photos/cattleranchers/Nadworny0926copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny0926copy.jpg" class="img-responsive"></a>  </figure>





				<p>
					If he comes across a sick bull over the weekend, for example, he needs to be able to treat it immediately, not wait for a veterinarian to tell him what he already knows. Plus, he says, he already works closely with his vet.
				</p> 


				

				<p>Catalina Cabrera, a staff veterinarian at the University of California, Davis, says that much of her job is making sure the rancher and vet are on the same page. Used responsibly, she said, antibiotics should not be a problem. </p> 

				<p>Cabrera also said that there are safeguards in place at slaughter facilities to ensure that traces of antibiotics don’t turn up in the beef Americans eat. These include USDA officials who exam animals on site. </p>

				<figure><a href="../photos/cattleranchers/Nadworny9003copy.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/Nadworny9003copy.jpg" class="img-responsive"></a>

					<figcaption> Catalina Cabrera, a veterinarian (middle)  advises Dr. Jim Oltjen and James Moller on new drugs. </figcaption>
				</figure>



				<blockquote><p>Cattle farming is a way of life. People do it beacuase they love it. They love the lifestyle it allows.</p><cite>Lynn Van Vleck</cite> </blockquote>


				<p>
					The American Farm Bureau, a lobbying powerhouse, also spent a substantial amount of money lobbying against legislative restrictions on antibiotic use. The bureau says attempted limits on livestock antibiotic use are “based on emotion and no credible peer-reviewed science.”
				</p>
				<p>
						Slaughter has said she’ll introduce her legislation every year until it’s passed, and will continue working with both the Obama administration and fellow legislators to garner support.
				</p>



				<figure><a href="../photos/cattleranchers/img_1774_cropped.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/cattleranchers/img_1774_cropped.jpg" class="img-responsive"></a>

					<figcaption>Jerry Spencer changes out of his riding boots, in order to head into the ranch office.</figcaption>
				</figure>



				<p>As for Spencer, he thinks ranchers should work to help consumers understand what he and his colleagues really do.  </p>
				<blockquote>
					<p>Ranching “truly is almost all family businesses,” he said, no matter the size of the operation.</p>
				</blockquote>
				<p>
					A business that one day, a daughter of his may continue running.

				</p>
			</div>

			<div class="col-md-3"></div>
		</div>




	</section>
