

		
		<section class="container-fluid">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<p class="lead">A pack of small, pale pink pigs squealed loudly in the late morning light. Some had hernias or visible tumors marring their bodies. All of them were sunburned. Before being moved to White Oak Pastures just outside Bluffton, Georgia, these pigs had never seen sunlight or set foot on dirt. For Will Harris, introducing these industrial farm pigs to his organic farm was an experiment. 
					</p>
					<p>In a neighboring pasture, shaded by thick Georgia pine trees and bushes, much larger hogs roamed.  Their hides were shades of brown and none appeared sick. Because these animals have built up natural immunities from being raised outdoors on an organic diet, Harris does not anticipate ever needing to give them antibiotics to treat illnesses or infections. </p>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<figure><a href="../photos/farm/WhiteOak10.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak10.jpg" class="img-responsive"></a>
						<figcaption>
							Hogs are fed a mixture of vegetables, including radishes, along with peanut shavings from a nearby processing plant.
				
						</figcaption>
					</figure>
				</div>
				<div class="col-md-3"></div>
			</div>
	  
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<p>Unlike industrial farms, Harris raises fewer animals in very large, open spaces. The animals are not crowded, he said, and therefore less likely to get and spread diseases to one another. </p>
				</div>
				<div class="col-md-3"></div>
			</div>
	
			<div class="row">
				<div class="col-md-2"></div>
		
				<div class="col-md-3">
					<blockquote>
						<p>The fact that we just don’t have sick animals doesn’t mean we’ll never have sick animals, but it’s not an accident.</p>
						<cite>Will Harris</cite>
					</blockquote>
				</div>
				<div class="col-md-5">
					<figure style="margin-top: 0px;">
						<a href="../photos/farm/WhiteOak6.jpg" rel="enlarge" class="enlarge">
							<img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak6.jpg" class="img-responsive">
						</a>
					</figure>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<p>Feeder pigs on industrial farms are raised on concrete floors under dim fluorescent lights to keep them calm, said Leah Garces, U.S. director of Compassion in World Farming, an animal welfare organization based in Atlanta. Farmers will clip their tails and teeth to try to minimize fighting in the close quarters.  </p>
					<p>“If we were to live on the subway, all squashed together, it only takes one sneeze for everyone to get sick,” Garces explained </p>
				</div>
				<div class="col-md-3"></div>
			</div>
	
			<div class="row">
				<div class="col-md-6">
					<figure><a href="../photos/farm/WhiteOak4.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak4.jpg" class="img-responsive"></a>
						<figcaption>
							Harris bought 40 feeder pigs at six weeks old from Auburn University as an experiment. 
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6">
					<figure><a href="../photos/farm/WhiteOak3.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak3.jpg" class="img-responsive"></a>
						<figcaption>
							"I’m probably not going to do that again. They’ve kind of bred all the hog out of these hogs," Harris said.
						</figcaption>
					</figure>
				</div>
			</div>
	  
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<blockquote>
						<p>They had never had their feet on dirt, and they’d never been in any lights except for fluorescent lights inside a building.</p>
						<cite>Will Harris</cite>
			  
					</blockquote>
				</div>
				<div class="col-md-2"></div>
			</div>
	
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
          
					<p>Industrial farmers will also use sub-therapeutic antibiotics to keep the animals from getting sick, said Dr. Alex Ramirez, an assistant professor of zoonotic diseases and public health at Iowa State University. Sub-therapeutic antibiotics, commonly used in U.S. swine production, are meant for disease prevention and control. </p>
					<p>“Prevention of disease is very critical,” Ramirez said. “By the time they are sick, our effectiveness to minimize suffering is going to be more difficult.” </p>
					<p>Ramirez said the most common diseases affecting livestock are respiratory illnesses, which can spread easily in crowded conditions.  </p>
         
					<figure><a href="../photos/farm/WhiteOak11.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak11.jpg" class="img-responsive"></a>
						<figcaption>Jenni Harris, 27, and her sister Jodi are set to inherit White Oak Pastures from their father, Will. Both daughters went to school and worked away from the farm before returning in recent years.</figcaption>
					</figure>
          
					<p>The U.S. has 67,000 pork operations, according to the National Pork Producers Council, a number significantly smaller than the nearly three million pork operations of the 1950s.  While the number of hog farms has decreased, they have grown in size – about 53 percent produce 5,000 or more pigs every year. </p>
					<p>With a higher concentration of pigs on industrial farms, there is a greater need for antibiotic use to prevent the spread of diseases. But as antibiotic resistance grows, scientists may have to come up with a new form of disease prevention, Garces said.</p>  
					<figure class="figure-pull-left"><a href="../photos/farm/WhiteOak1.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak1.jpg" class="img-responsive"></a>
					
						<figcaption>
							White Oak Pastures pork, chicken and beef products are sold at Whole Foods and Publix grocers up and down the East Cost. 
						</figcaption>
					</figure>	


					<p>“We have no new antibiotics. We have a stagnant number of tools, but the bugs are evolving,” she said. “[Since] 80 percent of our antibiotics are used in the farm animal setting, that’s the place we need to address first.” </p>

					<p>The Centers for Disease Control and Prevention states on its website that the use of antibiotics in farm animals contributes to the development of antibiotic-resistant bacteria. The website explains it is therefore possible for antibiotic-resistant bacteria to enter the food supply and potentially result in resistance in humans.	 </p>
		
					<p>For its part, the National Pork Board argues there are no proven links between antibiotic use in animals and increased antibiotic resistance in humans. In emailed statements, the board said farmers have made improvements in hygiene, but antibiotics may still be deemed necessary in production, especially when piglets are weaned from their mothers. </p> 

					<p>“Eliminating antibiotic use in farm animals is simply not the answer,” said Dr. Jennifer Koeman, the board's producer and public health director. “It would only result in animals suffering or having more sick animals enter the food supply, potentially causing unintended human health consequences.”</p>
				</div>
				<div class="col-md-3"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<figure><a href="../photos/farm/WhiteOak5.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak5.jpg" class="img-responsive"></a>
						<figcaption>A worker drives a truck full of ducklings to their new home at White Oak Pastures. The farm employs about 110 people from around the area.</figcaption>
					</figure>
				</div>
				<div class="col-md-2"></div>
			</div>
				
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">

					<p>“We’re giving perfectly healthy animals antibiotics,” warned Dr. Gail Hansen, senior officer of human health and industrial farming at the Pew Charitable Trusts.  And she argued there are better ways to prevent disease, such as “not having them quite so nose to tail to each other.” Space, clean water and better air quality help in disease prevention as well. </p>  

					<p>Harris knows all too well why antibiotics continue to be used on large-scale industrial farms.</p>  

					<p>“Science developed those tools to take cost out of production,” Harris said. “So when you cease to use the tools that take cost out of production, you add the cost back into production, and you end up with a higher-priced product,” Harris said, and the challenge of finding a market for his more expensive product threatened the future of his farm. </p>
				</div>
				<div class="col-md-3"></div>
			</div>
  
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<blockquote>
						<p>There were years where we literally were hemorrhaging money. It worked out well for us, but there were some sleepless nights.</p>
						<cite>Will Harris</cite>
			  
					</blockquote>
				</div>
				<div class="col-md-2"></div>
			</div>
	
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
          
					<p>Today, Harris’ White Oak Pastures organic farm produces cattle, chickens and hogs that supply locations of upscale grocery retailer Whole Foods up and down the East Coast.  </p>
        
         
						<figure><a href="../photos/farm/WhiteOak2.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak2.jpg" class="img-responsive"></a>
						<figcaption>Harris chats with a worker inside the farm's gift shop, which is connected to the beef abbatoir, where workers slaughter about 30 cows per day.</figcaption>
						</figure>

						<p>Harris doesn’t think his type of farming will ever serve more than a niche consumer group because industrial farming – even with antibiotics’ unintended consequence – is so much more cost-effective in feeding a larger population. 
						</p>  

						<p>But that doesn’t mean he’ll stop championing his cause for cleaner foods and farms.</p>
             
					</div>

					<div class="col-md-3"></div>
				</div>
	  
      
     	   </section>
		   <section class="full-width">
	
	
				<div class="row">
					<div class="col-md-12">
						<figure><a href="../photos/farm/WhiteOak9.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak9.jpg" class="img-responsive"></a>
							<figcaption>
								In order to avoid a monoculture of cattle, Harris has introduced several different species of livestock to his farm over the past two decades, including chickens, hogs, rabbits and horses.  
							</figcaption>
						</figure>
					</div>
				</div>
	  	  </section>
		  <section class="container-fluid">
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<blockquote>
							<p>Cows were born to roam and graze, hogs were born to root and wallow, chickens were born to scratch and peck. Those are instinctive behaviors.</p>
							<cite>Will Harris</cite>
			  
						</blockquote>
					</div>
					<div class="col-md-2"></div>
				</div>
			
	
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<p>
							“Nature abhors a monoculture,” said Harris, who believes animals should be allowed to roam and interact with their natural environment, unlike the isolated environments on many industrial farms. “A monoculture of only hogs is a monoculture in opposition to nature.”  
						</p>
					<figure><a href="../photos/farm/WhiteOak15.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/farm/WhiteOak15.jpg" class="img-responsive"></a>
						<figcaption>Will Harris and daughter Jenni, right, discuss the day ahead. Both live nearby and are usually on the farm by daybreak.
						</figcaption>
					</figure>

					</div>
					
						
					<div class="col-md-3"></div>
					
				</div>
			</section>
