

    <section class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="lead">For high school seniors, the end of the year usually brings a well-earned few weeks of senioritis. Some skip class and others decide to save all that brainpower for the fall, but not Jacqueline Martinez.</p>
          <p>The 18-year-old is wrapping up night school and Saturday school classes on top of her regular courseload. In between school hours, she's fulfilling an above-average volunteer service requirement and taking care of her two-year-old niece. As she gets ready to put the milestone of receving a high school diploma behind her, Jacqueline looks forward to meeting the baby she's expecting this November with her boyfriend.</p>
          
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <figure><a href="../photos/jackie/DSC_7087.JPG" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/jackie/DSC_7087.JPG" class="img-responsive"></a>

            <figcaption>
              The young couple plans to take the months before the baby comes to grow into their roles as providers. Jacqueline is taking on a job at the local Boys and Girls Club and applying to study photography at the American Academy of Art downtown. Her boyfriend hopes to finish school and is looking for a job.
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>Jacqueline is graduating with honors, but that wasn't always the case. After a year at a 4000-student high school on Chicago's North side, Jacqueline realized that she couldn't thrive in such a big group. She dreamt of leading small teams and making a difference in her community.</p>
          <figure class="figure-pull-right"><a href="../photos/jackie/DSC_6967.JPG" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/jackie/DSC_6967.JPG" class="img-responsive"></a>
            <figcaption class="credit">Monika Wnuk</figcaption>
          </figure>
          <p>Jacqueline's realization led her to transfer to Dr. Pedro Albizu Campos High School, an alternative school that prides itself on teaching leadership skills. In addition to the 40 hours of community service that Chicago Public Schools requires of every high school student, Campos requires students to take on a personal service project. Jacqueline chose to volunteer at Vida/ SIDA in Humboldt Park, a non profit that educates and serves people living with HIV.</p>
          <p>When asked about her experience at Campos, Jacqueline says it has been life changing, allowing her the opportunity to grow as a leader in small classrooms. Flexible hours allowed her to enroll in night school and Saturday school, so that her summers could be spent working to help support her family.</p>
          <p> Jacqueline's mother is elated that she's graduating.</p>
          <blockquote> <p>I'm so proud of her. She's come so far,</p> <cite>Jacqueline's mother</cite></blockquote>
          <p> Jacqueline's mom says that she's a little worried about the added responsibility that the baby will bring for the young couple, but she knows that her daughter can handle it.
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <figure><a href="../photos/jackie/DSC_6994.JPG" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/jackie/DSC_6994.JPG" class="img-responsive"></a>

            <figcaption>
              Jacqueline and her mom walk through the neighborhood to run errands before their days begin. Her mom used to work for a profitable line of currency exchanges, but recently switched to a more stable finance job downtown.
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6">
          <figure><a href="../photos/jackie/DSC_6880.JPG" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/jackie/DSC_6880.JPG" class="img-responsive"></a>

            <figcaption>
              At school, everyone knows Jacqueline as the one who takes the lead. "There need to be more outstanding leaders like her," says Diamond Montana, her biology teacher.
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>Watching Jacqueline complete her last few hours of volunteer service as a high school student, one thing is clear: she was born to lead. She comforts a peer who screams at the sight of an earthworm, tugs at another patch of weeds and asks a friend to pass her a trash bag. In just two short hours, the community space that the students are clearing looks ready for visitors.</p>
          <blockquote><p>There need to be more outstanding leaders like her,</p> <cite>Diamond Montana, Jacqueline's biology teacher.</cite></blockquote>
          <p> Continuing her dedication to her neighborhood, Jacqueline will be working at the local Boys and Girls club this summer, where she hopes to steer other young people toward graduating and finding jobs.
          <figure><a href="../photos/jackie/DSC_7037.JPG" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/jackie/DSC_7037.JPG" class="img-responsive"></a>

            <figcaption>Jacqueline thinks ahead to all the change that 2014 will bring.</figcaption>
          </figure>
          <p> When asked what she hopes for her son or daughter, she replies simply "I hope he or she is like me."</p>
        </div>
        <div class="col-md-3"></div>
      </div>
    </section>
