
    <section class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="lead"> LaShonda Pelks, 16, may seem like any other high school sophomore. But in addition to juggling homework, family and fun, Pelks is working towards being the first person in her immediate family to go to college. </p>
          <p> " I always tell her anything you want to be, you can be," said her mother, Andrea Hunter. "I want more for my daughters." </p>
          <p> Pelks lives in Chicago's Austin neighborhood on the West Side and has her whole life, though she's moved from place to place. Unstable housing caused her to miss her third grade year, but she's back on track.</p> 
      </div>
      <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3">
        </div>
          <div class="col-md-6">
          <figure><a href="../photos/lashonda/school.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/lashonda/school.jpg" class="img-responsive"></a>
            <figcaption class="credit">Christina Cala </figcaption>
            <figcaption> 
               Pelks arrives at school each day around 7:45 a.m. for breakfast with friends. She gets up at 6 a.m. in order to have time to walk her sister ro school.
            </figcaption>
          </figure>
        </div>
        <div class="col-md-3">
        </div>
      </div>
      <div class="row">
      <div  <div class="col-md-3"></div>
        <div class="col-md-6">
          <p> Pelks is currently a student at Al Raby High School on the West Side. Her mother wants better for Pelks than she had for herself and because of that pushes her daughter to succeed in school. Hunter was two months pregnant with Pelks when she graduated in 1998. </p>
          <p>Though Hunter said LaShonda had a rough patch earlier this year and fell in with the wrong crowd, Pelks has since brought up her grades. She has A's and B's in all her classes and will be in honors classes the following year.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <figure><a href="../photos/lashonda/store.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/lashonda/store.jpg" class="img-responsive"></a>
            <figcaption class="credit">Christina Cala</figcaption>
            <figcaption> Pelks and her younger sister Joanne walk around the neighborhood and buy snacks on the way home.  
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p> She will be participating in Al Raby's half-cap ceremony, which celebrates the students reaching the halfway mark to graduation next week as well.</p>
          <p> Pelks doesn't know what she wants to study in college just yet, but she is hoping to continue her schooling.</p>
          <p> "I always tell her, anything you want to be you can be," said Hunter. For now,  Hunter said singing is on Pelks' mind.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <figure><a href="../photos/lashonda/ghouse.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/lashonda/ghouse.jpg" class="img-responsive"></a>
            <figcaption class="credit">Christina Cala</figcaption>
            <figcaption>
            Pelks usually walks over to her grandother's house after class where she plays with her cousins.
            </figcaption>
          </figure>
        </div>
        <div class="col-md-6">
          <figure><a href="../photos/lashonda/dad.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/lashonda/dad.jpg" class="img-responsive"></a>
            <figcaption class="credit">Christina Cala</figcaption>
            <figcaption>
              Pelks' dad, LaShawn, just started working at Target. He usually gets home around the same time as his girls.
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p> Pelks also participates in service learning and has had a summer job since she was 14. But her parents don't want work to take her mind off school during the year.</p>

            <p>"My dad really wants me to college," Pelks said.</p> 
            <p>Part of her daily activity also includes playing sports and spending time with her family, who also lives in the Austin neighborhood. </p>
          <figure><a href="../photos/lashonda/momjanel.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/lashonda/momjanel.jpg" class="img-responsive"></a>
            <figcaption class="credit">Christina Cala</figcaption>
            <figcaption> Hunter taught her daughter everything she knows in the kitchen.</figcaption>
          </figure>
        <p> Instead, Pelks spends her afternoon visitng family and exploring the neighborhood with her sister.</p> 
          <p> "No news is good news," said her mom, Andrea Hunter before sending Pelks outside. " Be smart." </p>
          </p>
        </div>
        <div class="col-md-3"></div>
      </div>

      <div class="row">
        <div class="col-md-4">
        </div>
          <div class="col-md-4">
          <figure><a href="../photos/lashonda/house1.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/lashonda/house1.jpg" class="img-responsive"></a>
            <figcaption class="credit">Christina Cala </figcaption>
            <figcaption> 
              

            </figcaption>
          </figure>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </section>
