
    <!-- Story Body-->
    <section class="container story-body">
      <div class="row">
          <div class="col-md-2">
         
          </div>
        <div class="col-md-8">
          <p class="lead">In the basement of a convent, Lu gathers canned goods and other nonperishable goods, placing them in plastic shopping bags. Once the bags are prepared, Lu intrepidly makes her way up the small set of stairs to organize each bag on the first floor. By 10 a.m. she is now ready to recieve the 20 or so people that will come to collect much needed food for their families. Lu has been running this food pantry since 1984, in the basement of St. Ferdinand Convent. A few of her children went to St. Ferdinand. At the time Lu was a secretary and an organizer for the church's group Christian Outreach. Through Christian Outreach Lucille was asked to help maintain the influx of donated goods, 30 years later she still runs the pantry by herself. She may have the occansional helping hand from one of the church members.  .</p>
         <figure><img data-src="../photos/luhands/Luwork.jpg" class="img-responsive">
           <figcaption class="credit">Martine Granby</figcaption>
           <figcaption>
             "It not an easy thing to come and ask for food," Lucille said.  
           
           </figcaption>
		  </figure>
		  <p>Every Monday morning Lucille makes the long journey from her home in elk Grove to the convent via bus. Her husband, Peter, died in 1996, "I had time to grieve but then I was busy, my work and my kids helped me through." Members of the church and Lu donate food to the pantry, but she makes sure to inspect each item for experation dates.</p>
            
	    </div>
        <div class="col-md-2">
         
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Large image in Grid-->
          <figure><img data-src="../photos/luhands/LuBacon.jpg" class="img-responsive">
            <figcaption class="credit">Martine Granby</figcaption>
            <figcaption>
              "It's important for people to have a place they know they can go," said Lucille, when talking about the memembers of the community that frequent her food pantry.
  
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="byline"></p>
          <p>One of the pantry goers arrives in a red sports car, other members of the church frown upon this, they think she doesn't need the food. "It's not an easy thing to ask for food," Lucille said. She knows that the sports car may be all she has. Lu prepares bag for each specifically for pantry goers. She makes a point to remember their likes and dislikes. "I always try to give them fruit," said Lucille.</p>
          <p>While the pantry keeps her busy on Mondays, as the mother to 14 children and grandmother to 33, she is not alone very often. She jokes with her children, "at least I take a shower once a week." Taking the hour long bus ride to the convent by herself worries her children. But Lucille is not worried and sees little reason why they should be.</p>
          <figure class="figure-pull-right"><img data-src="../photos/luhands/Lupotrait.jpg" class="img-responsive">
            <figcaption class="credit">Martine Granby</figcaption>
            <figcaption>
              Although she lives alone, Lucille is the mother of 14 children and grandmother to 33, she has no shortage of loved ones near by.
              
            </figcaption>
          </figure>
          <p>The ranch style house in Elk Grove, where her and her late husband Peter moved in the 1980s, houses more than memories. Several walls and an entire room are dedicated to walls covered in photos of each family memeber, and their family. Lucille's family tree is well documented. In the hallway, photos of her children, over decades. As well as photos of a recently married Lucille.</p>
          <p>Her work at the pantry, helps Lucille to pass time and stay active but also be of service to others. A devote Catholic, helping those around you is a very important virtue which Lucille does not take lightly.</p>
          <p>
            <blockquote>
              <p>We had the food, we advertised and they came.</p>
              <cite>Lucille Caravette</cite>
            </blockquote>
          </p>
          <p>"They won't let her cook," Lucille says of a Eva, a Polish immigrant who speaks very little English. She often tries to communitcate with Lucille, but to no avail. Eva, lives in a home where her pays very little rent for a bed but is not allowed to cook her own meals. Lucille makes sure to give her things that she can heat up in a microwave or eat cold.</p>
          <p>Today Eva keeps it short, says hello to Lucille and collects her bag of food. Adding it to her already overflowing cart of personal items tucked away in plastic bags. Due to the communication barrier, Lucille is unsure if Eva still has a home.</p>
          <p>Although she is no longer the church's admistrator, Lucille still retains an office on the second floor. If anyone were looking for her on a Monday, they would need to call the office for her. Althoug Lucille is quiet sharp for her age, she has no desire to try to figure out cell phones. "They can call me here, just have to wait until I climb the stairs to call them back," said Lucille.</p>
          <p>A big house and a food pantry to manage, Lucille shows no signs of slowing down. </p>
        </div>
        <div class="col-md-6">

          <figure><img data-src="../photos/luhands/Lupantry.jpg" class="img-responsive">
            <figcaption class="credit">Martine Granby</figcaption>
            <figcaption>
              Lucille's catches up with her daughter Mary, who was recently diagonoised with breast cancer.
            </figcaption>
          </figure>
          <div class="row">
            <div class="col-md-6">
              <figure><img data-src="../photos/luhands/Luplayroom.jpg" class="img-responsive">
                <figcaption class="credit">Maritne Granby</figcaption>
                <figcaption>
                  This room holds many memories for Lucille, at one point a couple of her daughters slept her, now it's a playroom for her granddaughter, Lucille. 
                </figcaption>
              </figure>
            </div>
            <div class="col-md-6">
              <figure><img data-src="../photos/luhands/Luhall.jpg" class="img-responsive">
                <figcaption class="credit">Martine Granby</figcaption>
                <figcaption>
                  Lucille has walls througout the house that are dedicated to the photographs of her children and grandchildren.
                </figcaption>
              </figure>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <figure><img data-src="../photos/luhands/Luhall.jpg" class="img-responsive">
                <figcaption class="credit">Martine Granby</figcaption>
                <figcaption>
                  Lucille gets around mostly without a walker. She trepidatiously climbs a flight of stairs to get to her office.
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
