
    <section class="container-fluid">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="lead">Keith Walker starts on Monday. Just like the first day of any job, it's a big deal. But it's especially true for Keith, who's most had temporary work since his arrest for driving a stolen vehicle in 1993.</p>
          <p>Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.</p>
          <p>Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <figure><a href="../photos/postprison/ncpweb-9.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/postprison/ncpweb-9.jpg" class="img-responsive"></a>
              <figcaption class="credit">Scott Thomas</figcaption>
              <figcaption>
                The lunch break is short and sweet, many members of the project eat in the van because there's no place to sit between work sites. 
              </figcaption>
            </figure>
        
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.</p>
          <p>Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.</p>
          <p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
         <figure><a href="../photos/postprison/ncpweb-10.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/postprison/ncpweb-10.jpg" class="img-responsive"></a>
          
           <figcaption>Gatewood straps on his workboots to trudge through the overgrown brush that accumulates in the vacant lots. </figcaption>
         </figure>
        </div>
        <div class="col-md-5">
            <figure><a href="../photos/postprison/ncpweb-12.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/postprison/ncpweb-7.jpg" class="img-responsive"></a>
          
              <figcaption>
                Walker, who attribute the NCP with helping him get a new job, is working his second to last shift with the neighborhood cleanup project.
              </figcaption>
            </figure>
         
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p>Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.</p>
          <p>Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.</p>
          <p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam.</p>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <figure><a href="../photos/postprison/ncpweb-14.jpg" rel="enlarge" class="enlarge"><img src="../photos/transparent.gif" data-src="../photos/postprison/ncpweb-14.jpg" class="img-responsive"></a>

            <figcaption>
             Just some of the refuse that the Neighborhood Collection Program members collect in a lot. 
            </figcaption>
          </figure>
        </div>
        <div class="col-md-2"></div>
      </div>
    </section>
   